.nav{
	height: 80px;
	background-color: black;
}
.nav a{
	text-decoration: none;
	color: white;
	border: 1px solid black;
	float: right;
	margin-top: 27px;
	margin-right: 10px;
	padding: 5px;
	border-radius: 5px;
}
.nav a:hover{
	border-color: white;
}
.nav .active_a{
	border-color: white;
}

.footer{
	height: 80px;
	text-align: center;
	padding-top: 50px;
}
p,h3{
	margin: 0;
	padding: 0;
}